@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 22% 90.4%;
    --foreground: 200 18% 20%;

    --card: 0 0% 100%;
    --card-foreground: 200 18% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 200 18% 20%;

    --primary: 200 20% 39%;
    --primary-foreground: 195 30% 94%;

    --secondary: 206 18% 20%;
    --secondary-foreground: 195 30% 94%;

    --muted: 200 10% 90%;
    --muted-foreground: 200 10% 40%;

    --accent: 195 30% 94%;
    --accent-foreground: 206 18% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 10% 85%;
    --input: 200 10% 85%;
    --ring: 200 20% 39%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 206 18% 20%;
    --foreground: 195 30% 94%;

    --card: 206 18% 20%;
    --card-foreground: 195 30% 94%;

    --popover: 206 18% 20%;
    --popover-foreground: 195 30% 94%;

    --primary: 200 20% 39%;
    --primary-foreground: 195 30% 94%;

    --secondary: 206 18% 20%;
    --secondary-foreground: 195 30% 94%;

    --muted: 200 10% 25%;
    --muted-foreground: 200 10% 70%;

    --accent: 200 10% 30%;
    --accent-foreground: 195 30% 94%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 10% 30%;
    --input: 200 10% 30%;
    --ring: 200 20% 39%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
